BACKEND_PORT=8000
BACKEND_HOST=172.18.1.110

WEBSITE_PORT=3000
WEBSITE_HOST=172.18.1.111

DB_NAME=tokengatedcontent
DB_USER=tokengatedcontent
DB_PASSWORD=tokengatedcontent
DB_HOST=172.18.1.5
DB_PORT=5432

NETWORK=172.18.1.0/24
NETWORK_NAME=tokengatedcontent

VENLY_API_CLIENT_ID=
VENLY_API_SECRET_ID=
VENLY_API_APPLICATION_ID=